{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block page_account_register_container %}
    {# {{ dump(shopware.config.SynlabSteeredCustomerRegistration.config.registrationActiveState)}} #}
    {% if shopware.config.ASSteeredCustomerRegistration.config.registrationActiveState == "open" %}
        {{ parent() }}
    {% elseif shopware.config.ASSteeredCustomerRegistration.config.registrationActiveState == "restricted" %}
        <div class="col-lg-8">
            <h1>Our registration is restricted at the moment. Only registered customers can place orders. You can register and wait for approval</h1>
            {{ parent() }}
        </div>
    {% elseif shopware.config.ASSteeredCustomerRegistration.config.registrationActiveState == "closed" %}
        <div class="col-lg-8">
            <h1>Sorry, our registration is closed at the moment.</h1>
            <img src="https://picsum.photos/id/2/800/600/?blur" width="100%">
        </div>
    {% endif %}
{% endblock %}